.login-page {
  background: no-repeat center;
  background-size: cover;
  align-items: center;
  justify-content: center;
  position: relative;

  .app-language-select {
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px 10px 0 0;
  }

  .app-card {
    min-width: 250px;

    .login-form-info {
      padding: 10px;
      border-left: red solid 3px;
      max-width: 250px;
    }

    .login-form-container {

      .sign-in-title {
        margin-bottom: 20px;
      }

      .logo-image {
        margin-bottom: 24px;
      }

      .app-input {
        width: 250px;
      }

      .btn-sign-in {
        margin-top: 12px;
      }
    }
  }
}