@import '../../colors.module';

.app-input {
  &.ant-input-affix-wrapper {
    .ant-input-prefix {
      margin-right: 11px;
    }
  }

  &:not(.ant-input-borderless):not(.ant-input-affix-wrapper-borderless):focus {
    border-color: $app-primary-color;
    border-right-width: 1px !important;
    outline: 0;
    box-shadow: 0 0 0 2px $app-primary-shadow-color;
  }

  &:not(.ant-input-borderless):not(.ant-input-affix-wrapper-borderless):hover {
    border-color: $app-primary-color;
    border-right-width: 1px !important;
    box-shadow: 0 0 0 2px $app-primary-shadow-color;
  }
}

.validate-success {
  .app-input {
    border-color: $success-color;

    &:not(.ant-input-borderless):not(.ant-input-affix-wrapper-borderless):focus {
      border-color: $success-color;
      border-right-width: 1px !important;
      outline: 0;
      box-shadow: 0 0 0 2px $success-shadow-color;
    }

    &:not(.ant-input-borderless):not(.ant-input-affix-wrapper-borderless):hover {
      border-color: $success-color;
      border-right-width: 1px !important;
      box-shadow: 0 0 0 2px $success-shadow-color;
    }
  }
}

.validate-warning {
  .app-input {
    border-color: $warning-color;

    &:not(.ant-input-borderless):not(.ant-input-affix-wrapper-borderless):focus {
      border-color: $warning-color;
      border-right-width: 1px !important;
      outline: 0;
      box-shadow: 0 0 0 2px $warning-shadow-color;
    }

    &:not(.ant-input-borderless):not(.ant-input-affix-wrapper-borderless):hover {
      border-color: $warning-color;
      border-right-width: 1px !important;
      box-shadow: 0 0 0 2px $warning-shadow-color;
    }
  }
}

.validate-error {
  .app-input {
    border-color: $error-color;

    &:not(.ant-input-borderless):not(.ant-input-affix-wrapper-borderless):focus {
      border-color: $error-color;
      border-right-width: 1px !important;
      outline: 0;
      box-shadow: 0 0 0 2px $error-shadow-color;
    }

    &:not(.ant-input-borderless):not(.ant-input-affix-wrapper-borderless):hover {
      border-color: $error-color;
      border-right-width: 1px !important;
      box-shadow: 0 0 0 2px $error-shadow-color;
    }
  }
}

.has-validate-icon {
  .app-input {
    padding-right: 30px;
  }
}