@import '../../colors.module';
@import '../../dimens.module';

.app-form-item {
  display: flex;

  @media screen and (max-width: $mobile-device-max-width) {
    flex-direction: column !important;

    .input-label {
      width: 100% !important;
      flex-basis: auto !important;
    }
  }

  .input-label {
    height: 32px;
    display: flex;
    align-items: center;
    margin-right: 10px;
  }

  .input-container {
    position: relative;

    &.has-validate-icon { // based on 'ant-form-item-has-feedback' from antd.css

      .ant-switch {
        margin: 2px 0 4px;
      }

      .ant-select {
        .ant-select-arrow {
          right: 32px;
        }

        .ant-select-clear {
          right: 32px;
        }

        .ant-select-selection-selected-value {
          padding-right: 42px;
        }
      }

      :not(.ant-input-group-addon) {
        .ant-select {
          .ant-select-arrow {
            right: 32px;
          }

          .ant-select-clear {
            right: 32px;
          }

          .ant-select-selection-selected-value {
            padding-right: 42px;
          }
        }
      }

      .ant-cascader-picker-arrow {
        margin-right: 19px;
      }

      .ant-cascader-picker-clear {
        right: 32px;
      }

      .ant-picker {
        padding-right: 29.2px;
      }

      .ant-picker-large {
        padding-right: 29.2px;
      }

      .ant-picker-small {
        padding-right: 25.2px;
      }
    }

    .validate-icon {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
      width: 32px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      pointer-events: none;

      .anticon {
        display: block;

        svg {
          width: 14px;
          height: 14px;
        }
      }
    }

    .input-validate-message {
      font-size: 12px;
    }
  }
}

.validate-success {
  .input-validate-message {
    color: $success;
  }
}

.validate-warning {
  .input-validate-message {
    color: $warning;
  }
}

.validate-error {
  .input-validate-message {
    color: $error;
  }
}