@import '../../colors.module';

.app-typography {
  &.ant-typography {
    & + .ant-typography {
      margin-top: 0;
    }

    mark {
      background: $app-text-highlight-color;
    }
  }

  &.ant-typography-secondary {
    color: $app-text-secondary-color;
  }

  &.ant-typography-success {
    color: $success-color;
  }

  &.ant-typography-warning {
    color: $warning-color;
  }

  &.ant-typography-error {
    color: $error-color;
  }

  &.ant-typography-disabled {
    color: $app-disabled-color;
  }

  &.all-caps {
    text-transform: uppercase;
  }

  &.first-caps:first-letter {
    text-transform: uppercase;
  }
}