@import '../../colors.module';
@import '../../dimens.module';

.app-title {
  color: $app-text-primary-color;

  &.ant-typography + .ant-typography{
    margin-top: 0;
  }

  &.ant-typography-disabled {
    color: $app-disabled-color;
  }
}