.sign-in-page {
  background: no-repeat center;
  background-size: cover;
  align-items: center;
  justify-content: center;
  position: relative;

  .app-language-select {
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px 10px 0 0;
  }

  .app-card {
    width: 320px;

    .sign-in-form-container {

      .sign-in-title {
        margin-bottom: 20px;
      }

      .logo-image {
        margin-bottom: 24px;
      }

      .sign-in-alert {
        margin-bottom: 10px;
      }

      .app-input {
        width: 100%;
      }

      .btn-sign-in {
        margin-top: 12px;
      }
    }
  }
}