@import '../../colors.module';

.app-alert {
  &.ant-alert-success {
    border: 1px solid $success-color;
    background-color: $success-shadow-color;
  }

  &.ant-alert-info {
    border: 1px solid $info-color;
    background-color: $info-shadow-color;
  }

  &.ant-alert-warning {
    border: 1px solid $warning-color;
    background-color: $warning-shadow-color;
  }

  &.ant-alert-error {
    border: 1px solid $error-color;
    background-color: $error-shadow-color;
  }

  .ant-alert-message, .ant-alert-description {
    .app-typography {
      &.alert-text-success {
        color: $success-text-color;
      }

      &.alert-text-info {
        color: $info-text-color;
      }

      &.alert-text-warning {
        color: $warning-text-color;
      }

      &.alert-text-error {
        color: $error-text-color;
      }
    }
  }

  .ant-alert-message {
    .app-typography {
      font-size: 16px;
    }
  }

  .ant-alert-description {
    .app-typography {
      font-size: 14px;
      line-height: 22px;
    }
  }
}