@import '../../colors.module';

.app-sider {
  display: flex;
  flex-direction: column;

  .ant-layout-sider-children {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;

    &::-webkit-scrollbar-track {
      background: none;
    }

    &::-webkit-scrollbar-thumb {
      background: #{$app-scrollbar-thumb-color + '67'};
    }
  }

  .ant-layout-sider-trigger {
    padding-bottom: 0
  }
}