
.app-sider {

  .ant-layout-sider-children {
    overflow: auto;

    &::-webkit-scrollbar-thumb {
      background: red;
      border-radius: 6px;
    }
  }

  .ant-layout-sider-trigger {
    position: sticky;
  }
}