@import '../../colors.module';

.app-spinner {
  display: flex;

  .indicator {
    .anticon {
      display: block;
    }
  }

  .default-fill {
    svg {
      fill: $app-primary-color;
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    .indicator {
      animation: indicator-spinning infinite 1.5s linear;
    }
  }

  @keyframes indicator-spinning {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}