@import '../../colors.module';

.ui-preview-page {
  .app-title {
    &.group-title {
      margin-bottom: 0;
      color: $app-primary-color-dark;
    }

    &.section-title {
      color: $app-primary-color;
    }
  }

  .group-container {
    & + .group-container {
      margin-top: 32px;
    }

    .group-sections {
      padding: 10px;
    }
  }

  .section-container {
    width: 100%;

    & + .section-container {
      margin-top: 32px;
    }

    .app-card {
      .content-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        .body {
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 16px 24px;
        }

        .footer {
          padding: 0 24px 16px 24px;
        }
      }
    }
  }
}