@import '../../colors.module';

.ui-preview-page {
  .app-sider {
    .page-logo-container {
      height: 64px;
      padding: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;

      .page-image {
        height: 100%;
      }

      .page-title {
        margin-bottom: 0;
        margin-left: 10px;
        flex: 1;
      }
    }
  }

  .app-container {

    .app-header {
      padding: 0 10px;
    }

    .app-content {
      overflow: auto;
      min-width: 512px;

      .app-title {
        &.section-title {
          margin-bottom: 10px;
          color: $app-primary-color-dark;
        }
      }

      .section-list {
        padding: 0;
        list-style-type: none;

        .section-container {
          padding-left: 16px;

          & + .section-container {
            margin-top: 16px;
          }
        }
      }
    }
  }
}