@import '../../colors.module';

.ui-preview-page {
  .app-title {
    &.group-title {
      margin-bottom: 0;
      color: $app-primary-color-dark;
    }

    &.section-title {
      color: $app-primary-color;
    }
  }

  .app-card {
    .content {
      padding: 16px 24px;
    }

    .footer {
      padding: 0 24px 16px 24px;
    }
  }

  .app-row {
    margin-bottom: 24px;
  }
}