@import '../../../colors.module';
@import '../../../dimens.module';

.app-link {
  &.ant-typography {
    font-size: $app-font-size-normal;
    color: $app-link-color;

    &:hover {
      color: $app-link-active-color;
    }

    &:focus {
      color: $app-link-active-color;
    }

    &:active {
      color: $app-link-active-color;
    }
  }
}