$app-primary-color: #40a9ff;
$app-primary-color-light: #69c0ff;
$app-primary-color-dark: #1890ff;

$app-text-primary-color: #000000;
$app-text-secondary-color: #979797;
$app-text-highlight-color: #ffe58f;

$app-scrollbar-thumb-color: #7f7f7f;
$app-scrollbar-track-color: none;

$app-disabled-color: #cccccc;

$success-color: #52c41a;
$success-shadow-color: #52c41a33;

$warning-color: #faad14;
$warning-shadow-color: #faad1433;

$error-color: #ff4d4f;
$error-shadow-color: #ff4d4f33;

:export {
  appPrimaryColor: $app-primary-color;
  appPrimaryColorLight: $app-primary-color-light;
  appPrimaryColorDark: $app-primary-color-dark;

  appTextPrimaryColor: $app-text-primary-color;
  appTextSecondaryColor: $app-text-secondary-color;

  appDisabledColor: $app-disabled-color;

  successColor: $success-color;
  warningColor: $warning-color;
  errorColor: $error-color;
}