$app-primary-color: #40a9ff;
$app-primary-color-light: #69c0ff;
$app-primary-color-dark: #1890ff;

$success: #52c41a;
$success-shadow: #52c41a33;

$warning: #faad14;
$warning-shadow: #faad1433;

$error: #ff4d4f;
$error-shadow: #ff4d4f33