$app-primary-color: #3c4b64;
$app-primary-color-light: #8a93a2;
$app-primary-color-dark: #303c54;
$app-primary-shadow-color: #{$app-primary-color + '33'};

$app-secondary-color: #1890ff;

$app-text-primary-color: #000000;
$app-text-secondary-color: #979797;
$app-text-highlight-color: #ffe58f;

$app-link-color: #1890ff;
$app-link-active-color: #40a9ff;

$app-scrollbar-thumb-color: #c1c1c1;
$app-scrollbar-track-color: none;

$app-image-border-color: #eeeeee;

$app-disabled-color: #cccccc;

$info-text-color: #1890ff;
$info-color: #91d5ff;
$info-shadow-color: #{$info-color + '33'};

$success-text-color: #52c41a;
$success-color: #52c41a;
$success-shadow-color: #{$success-color + '33'};

$warning-text-color: #faad14;
$warning-color: #faad14;
$warning-shadow-color: #{$warning-color + '33'};

$error-text-color: #ff4d4f;
$error-color: #ff4d4f;
$error-shadow-color: #{$error-color + '33'};

// container color

$app-header-background: #ffffff;
$app-footer-background: #ffffff;
$app-content-background: #ebedef;
$app-sider-background: $app-primary-color;

// dashboard page color

$app-dashboard-logo-container-background: $app-primary-color-dark;
$app-dashboard-app-name-text-color: #e4e6e9;

// menu color - dark mode

$app-menu-dark-mode-sub-menu-item-background: unset;
$app-menu-dark-mode-sub-menu-item-background-hover: rgba(174,174,174,0.3);

$app-menu-dark-mode-sub-menu-item-text-color: #abb1bc;
$app-menu-dark-mode-sub-menu-item-text-color-hover: #ffffff;

$app-menu-dark-mode-menu-item-group-background: unset;
$app-menu-dark-mode-menu-item-group-text-color: #6f757f;

$app-menu-dark-mode-menu-item-background: unset;
$app-menu-dark-mode-menu-item-background-hover: $app-menu-dark-mode-sub-menu-item-background-hover;
$app-menu-dark-mode-menu-item-background-selected: $app-menu-dark-mode-sub-menu-item-background-hover;

$app-menu-dark-mode-menu-item-text-color: $app-menu-dark-mode-sub-menu-item-text-color;
$app-menu-dark-mode-menu-item-text-color-hover: $app-menu-dark-mode-sub-menu-item-text-color-hover;
$app-menu-dark-mode-menu-item-text-color-selected: $app-menu-dark-mode-sub-menu-item-text-color-hover;

$app-menu-dark-mode-menu-item-selected-badge-color: $app-secondary-color;

$app-menu-dark-mode-popup-background: #ffffff;

$app-menu-dark-mode-popup-sub-menu-item-background: unset;
$app-menu-dark-mode-popup-sub-menu-item-background-hover: $app-menu-dark-mode-sub-menu-item-background-hover;

$app-menu-dark-mode-popup-sub-menu-item-text-color: #000000;
$app-menu-dark-mode-popup-sub-menu-item-text-color-hover: #000000;

$app-menu-dark-mode-popup-menu-item-group-background: unset;
$app-menu-dark-mode-popup-menu-item-group-text-color: $app-menu-dark-mode-menu-item-group-text-color;

$app-menu-dark-mode-popup-menu-item-background: unset;
$app-menu-dark-mode-popup-menu-item-background-hover: $app-menu-dark-mode-menu-item-background-hover;
$app-menu-dark-mode-popup-menu-item-background-selected: #{$app-secondary-color + '1c'};;

$app-menu-dark-mode-popup-menu-item-text-color: $app-menu-dark-mode-popup-sub-menu-item-text-color;
$app-menu-dark-mode-popup-menu-item-text-color-hover: $app-secondary-color;
$app-menu-dark-mode-popup-menu-item-text-color-selected: $app-secondary-color;

// menu color - light mode

:export {
  appPrimaryColor: $app-primary-color;
  appPrimaryColorLight: $app-primary-color-light;
  appPrimaryColorDark: $app-primary-color-dark;

  appSecondaryColor: $app-secondary-color;

  appTextPrimaryColor: $app-text-primary-color;
  appTextSecondaryColor: $app-text-secondary-color;

  appDisabledColor: $app-disabled-color;

  successColor: $success-color;
  warningColor: $warning-color;
  errorColor: $error-color;

  appHeaderBackground: $app-header-background;
  appFooterBackground: $app-footer-background;
  appContentBackground: $app-content-background;
  appSiderBackground: $app-sider-background;

  appDashboardLogoContainerBackground: $app-dashboard-logo-container-background;
  appDashboardAppNameTextColor: $app-dashboard-app-name-text-color;

  appMenuDarkModeSubMenuItemBackground: $app-menu-dark-mode-sub-menu-item-background;
  appMenuDarkModeSubMenuItemBackgroundHover: $app-menu-dark-mode-sub-menu-item-background-hover;

  appMenuDarkModeSubMenuItemTextColor: $app-menu-dark-mode-sub-menu-item-text-color;
  appMenuDarkModeSubMenuItemTextColorHover: $app-menu-dark-mode-sub-menu-item-text-color-hover;

  appMenuDarkModeMenuItemGroupBackground: $app-menu-dark-mode-menu-item-group-background;
  appMenuDarkModeMenuItemGroupTextColor: $app-menu-dark-mode-menu-item-group-text-color;

  appMenuDarkModeMenuItemBackground: $app-menu-dark-mode-menu-item-background;
  appMenuDarkModeMenuItemBackgroundHover: $app-menu-dark-mode-menu-item-background-hover;
  appMenuDarkModeMenuItemBackgroundSelected: $app-menu-dark-mode-menu-item-background-selected;

  appMenuDarkModeMenuItemTextColor: $app-menu-dark-mode-menu-item-text-color;
  appMenuDarkModeMenuItemTextColorHover: $app-menu-dark-mode-menu-item-text-color-hover;
  appMenuDarkModeMenuItemTextColorSelected: $app-menu-dark-mode-menu-item-text-color-selected;

  appMenuDarkModeMenuItemSelectedBadgeColor :$app-menu-dark-mode-menu-item-selected-badge-color;

  appMenuDarkModePopupBackground: $app-menu-dark-mode-popup-background;

  appMenuDarkModePopupSubMenuItemBackground: $app-menu-dark-mode-popup-sub-menu-item-background;
  appMenuDarkModePopupSubMenuItemBackgroundHover: $app-menu-dark-mode-popup-sub-menu-item-background-hover;

  appMenuDarkModePopupSubMenuItemTextColor: $app-menu-dark-mode-popup-sub-menu-item-text-color;
  appMenuDarkModePopupSubMenuItemTextColorHover: $app-menu-dark-mode-popup-sub-menu-item-text-color-hover;

  appMenuDarkModePopupMenuItemGroupBackground: $app-menu-dark-mode-popup-menu-item-group-background;
  appMenuDarkModePopupMenuItemGroupTextColor: $app-menu-dark-mode-popup-menu-item-group-text-color;

  appMenuDarkModePopupMenuItemBackground: $app-menu-dark-mode-popup-menu-item-background;
  appMenuDarkModePopupMenuItemBackgroundHover: $app-menu-dark-mode-popup-menu-item-background-hover;
  appMenuDarkModePopupMenuItemBackgroundSelected: $app-menu-dark-mode-popup-menu-item-background-selected;

  appMenuDarkModePopupMenuItemTextColor: $app-menu-dark-mode-popup-menu-item-text-color;
  appMenuDarkModePopupMenuItemTextColorHover: $app-menu-dark-mode-popup-menu-item-text-color-hover;
  appMenuDarkModePopupMenuItemTextColorSelected: $app-menu-dark-mode-popup-menu-item-text-color-selected;
}